.bg-container{
    height: 54px;
    flex-shrink: 0;
    background: #082341;
    box-shadow: 4px 4px 24px 4px rgba(255, 255, 255, 0.10);
}
.bg-offCanvas{
    color: black;
}
.logo{
    color: var(--White, #FFF);
    font-family: Mulish;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left:5px;
}
.accountDetails{
    color: #FFF;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.7;
    cursor: pointer;
}

.payments{
    color: #FFF;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    opacity: 0.7;
}
.transfers{
    font-weight: 500;
}
.notification{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding-bottom: 4px;
    cursor: pointer;
}
.profileImage{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #FFF;
    cursor: pointer;
}
.profileName{
    color: #FFF;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
    cursor: pointer;
}
.nav-item{
    margin: 10px;
}
.dropdown{
    margin-top: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.activeTab {
    color: #FFF !important;
    font-weight: normal;
    opacity: 1 !important;
}
.logOutBtn{
    background-color: #e1934b;
    color: white;
}


.navbar-toggler-icon{
    background-color: #FFF;
}

.navColor{
    color: black !important;
}