.data {
    padding: 10px 30px 10px 10px;
    height: 26px;
    width: 26px;
  }
  .eachDate {
    color: #494848;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
  }

  #smDate{
    color: #363636;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0px 18px 0px 0px;
  }

  #smMoney{
    font-size: calc(12px + 0.5vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .eachName {
    color: #1f1f1f;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 290px;
  }
  
  .eachType {
    color: #494848;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 300px;
    text-align: center;
  }
  
  .eachDesc {
    color: #494848;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 500px;
  }

  #smDesc{
    color: #494848;
    font-size: calc(10px + 0.5vw);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 18px;
  }
  
  .eachAmountCredit {
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100px;
    text-align: center;
  }
  
  .eachTotamount {
    color: #082341;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 150px;
    text-align: center;
  }

  
  
  .wrap{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }