<div class="container">
	<div class="row">
		<div class="col-md-5 ps-3">
			<h2 class="text-center mt-3">Welcome!</h2>
		<form #formElement [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="firstName">First Name<span class="text-danger">*</span></label>
						<input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="FirstName" minlength="3" maxlength="10">
						<div *ngIf="registrationForm.get('firstName')?.hasError('required') && registrationForm.get('firstName')?.touched" class="text-danger error-txt">
							First Name is required.
						  </div>
						  <div class="text-danger error-txt" *ngIf="registrationForm.get('firstName')?.hasError('pattern') || registrationForm.get('firstName')?.hasError('minlength')">
							First Name must be alphabetic and altleast 3 characters.
						  </div>
					   </div>
					   
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="lastName">Last Name<span class="text-danger">*</span></label>
						<input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="LastName" minlength="3" maxlength="10">
						<div *ngIf="registrationForm.get('lastName')?.hasError('required') && registrationForm.get('lastName')?.touched" class="text-danger error-txt">
							Last Name is required.
						  </div>
						  <div class="text-danger error-txt" *ngIf="registrationForm.get('lastName')?.hasError('pattern') || registrationForm.get('lastName')?.hasError('minlength')">
							Last Name must be alphabetic and atleast 3 characters.
						  </div>
					   </div>
				</div>
			</div>
			<div class="form-group mt-3">
				<label for="email">Email ID<span class="text-danger">*</span></label>
				<input type="email" id="email" class="form-control" formControlName="email" placeholder="Email">
				<div *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched" class="text-danger error-txt">
					Email is required.
				  </div>
				  <div class="text-danger error-txt" *ngIf="registrationForm.get('email')?.hasError('pattern')">
					Invalid Email Format
				  </div>
			   </div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group mt-3">
						<label for="phoneNumber">Phone Number<span class="text-danger">*</span></label>
						<input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber" placeholder="PhoneNumber" maxlength="10" (keypress)="onKeyPress($event)">
						<div *ngIf="registrationForm.get('phoneNumber')?.hasError('required') && registrationForm.get('phoneNumber')?.touched" class="text-danger error-txt">
							Phone number is required.
						</div>
						<div *ngIf="registrationForm.get('phoneNumber')?.hasError('pattern') || registrationForm.get('phoneNumber')?.hasError('minlength')" class="text-danger error-txt">
							Enter valid phone number
						</div>
				    </div>
			    </div>
				<div class="col-md-6">
					<div class="form-group mt-3">
						<label for="dob">Date of Birth<span class="text-danger">*</span></label>
						<input type="date" id="dob" class="form-control" formControlName="dob" placeholder="Date of Birth" [max]="maxDate">
						<div *ngIf="registrationForm.get('dob')?.hasError('required') && registrationForm.get('dob')?.touched" class="text-danger">
							Date of Birth is required
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-md-6">
					<div class="form-group">
						<label for="country">Country:</label>
						<select id="country" class="form-select" formControlName="country">
							<option *ngFor="let country of countries" [value]="country">{{ country }}</option>
						</select>
						<div *ngIf="registrationForm.get('country')?.hasError('required') && registrationForm.get('country')?.touched"
								 class="text-danger">Please select a country</div>
					   </div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="state">State:</label>
						<select id="state" class="form-select" formControlName="state">
							<option *ngFor="let state of states" [value]="state">{{ state }}</option>
						</select>
						<div *ngIf="registrationForm.get('state')?.hasError('required') && registrationForm.get('state')?.touched"
								 class="text-danger">Please select a state</div>
					</div>
				</div>
			</div>
		
			<div class="form-group mt-3">
				<label for="address">Address<span class="text-danger">*</span></label>
				<input type="text" id="address" class="form-control" formControlName="address" />
				<div *ngIf="registrationForm.get('address')?.hasError('required') && registrationForm.get('address')?.touched" class="text-danger">
					Address is required
				</div>
				<div *ngIf="registrationForm.get('address')?.hasError('pattern')" class="text-danger">
					Enter Valid Address
				</div>
			</div>
			
			<div class="row mt-3">
				<div class="col-md-6">
					<div class="form-group">
						<label for="password" class="form-label">Password<span class="text-danger">*</span></label>
						<input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" aria-autocomplete="list">
						<div *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched" class="text-danger">
							Password is required
						</div>
						<div *ngIf="registrationForm.get('password')?.hasError('pattern')" class="text-danger">
							Password must be at least 8 characters long and contain at least one letter and one number.
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="confirmPassword" class="form-label">Confirm Password<span class="text-danger">*</span></label>
						<input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="ConfirmPassword" aria-autocomplete="list">
						<div *ngIf="registrationForm.hasError('mismatch')" class="text-danger">
							Passwords do not match.
						</div>
						<div *ngIf="registrationForm.get('confirmPassword')?.hasError('required') && registrationForm.get('confirmPassword')?.touched"  class="text-danger">
							Confirmation password is required.
						</div>
					</div>
				</div>
			</div>
			<div class="d-grid gap-2 mt-3">
				<button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">Submit</button>
			</div>
			<div class="text-center mt-4">
				<span >Already had an account? <a aria-current="page" routerLink="/login" id="login">Login Here</a></span>
			</div>
		</form>
			</div>
			<div class="col-md-7 ps-4">
				<img [src]="imagePath" [width]="imageWidth" [height]="imageHeight" alt="Description">
			</div>
		</div>
</div>
