<div class="card mb-3 cd-radius cursor">
	<div class="row g-0">
		<div class="col-md-4 col-6 fund-sty text-center">
			<img src="assets/fund-transfer-icon.svg" class="img-fluid rounded-start mt-4" alt="Fund-Transfers" style="max-height: fit-content;">
			<p class="account-style mt-3">  Fund Transfers </p>
		</div>
		<div class="col-md-8 col-6">
			<div class="card-body text-color" id="card-inside-text">
				<p class="card-text" id="paymentMethod">Payment method</p>
				<p class="card-text" id="addPayee">Add Payee</p>
				<p class="card-text" id="managePayee">Manage Payee</p>
				<p class="card-text" id="statements">Statements</p>
			</div>
		</div>
	</div>
</div>
