<div class="container-fluid bg-container" id="scrollbar">
  <div class="d-flex flex-row col-lg-12 col-md-12 col-sm-12">
    @for (data of cardDetails; track $index) {
    <div class="userCard savingsAccount" (click)="selectedCard(data)" [ngStyle]="{
            'background': data.id == 1 ? 'linear-gradient(0deg, #da22ff 0%, #9733ee 100%)' :
                          data.id == 2 ? 'linear-gradient(0deg, #ec6f66 0%, #f3a183 100%)' :
                          data.id == 3 ? 'linear-gradient(284deg, #00fff0 -19.4%, #0083fe 54.6%)' :
                                        'linear-gradient(180deg, #81cedf 0%, #9464fd 100%)',
            'opacity': isSelected(data) ?  1 : 0.5}">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="32" viewBox="0 0 56 32" fill="none"
            class="circleIcon">
            <circle cx="16" cy="16" r="16" fill="#77F800" />
            <circle opacity="0.9" cx="40" cy="16" r="16" fill="#CA9314" />
          </svg>
          <p class="cardDetails accountType">{{data.AccountType}}</p>
        </div>
        <div>
          <p class="accountNumber" id="number">{{data.AccountNumber | digitSpacing}}</p>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <p class="cardDetails accountHolderName">{{data.AccountHolder}}</p>
          <p class="cardDetails date">02/11</p>
        </div>
      </div>
    </div>
    }
</div>
 



<!-- <div class="container-fluid bg-container" id="scrollbar">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let chunk of cardDetails" class="carousel-item" [class.active]="chunk === cardDetails[0]">
        <div class="d-flex flex-row col-lg-12 col-md-12 col-sm-12">
          <div *ngFor="let data of cardDetails" class="userCard savingsAccount mb-3 mt-3 ms-sm-3 me-sm-3" (click)="selectedCard(data)" [ngStyle]="{
                'background': data.id == 1 ? 'linear-gradient(0deg, #da22ff 0%, #9733ee 100%)' :
                              data.id == 2 ? 'linear-gradient(0deg, #ec6f66 0%, #f3a183 100%)' :
                              data.id == 3 ? 'linear-gradient(284deg, #00fff0 -19.4%, #0083fe 54.6%)' :
                                            'linear-gradient(180deg, #81cedf 0%, #9464fd 100%)',
                'opacity': isSelected(data) ?  1 : 0.5}">
            <div class="d-flex flex-column">
              <div class="d-flex flex-row justify-content-between">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="32" viewBox="0 0 56 32" fill="none" class="circleIcon">
                  <circle cx="16" cy="16" r="16" fill="#77F800" />
                  <circle opacity="0.9" cx="40" cy="16" r="16" fill="#CA9314" />
                </svg>
                <p class="cardDetails accountType">{{data.AccountType}}</p>
              </div>
              <div>
                <p class="accountNumber">{{data.AccountNumber}}</p>
              </div>
              <div class="d-flex flex-row justify-content-between">
                <p class="cardDetails accountHolderName">{{data.AccountHolder}}</p>
                <p class="cardDetails date">02/11</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
