.modal-header{
    background: #1B154C;
	color: white;

}
.can-btn{
	padding: 8px 12px;
	border-radius: 4px;
	gap: 4px;
	background: #E5E6E6;

}
.fet-btn{
	padding: 8px 12px;
	border-radius: 4px;
	gap: 4px;
  	background: #1B154C;
	color: #FFFFFF;

}
.br-none{
	border-top: none !important;
}

.error-txt{
    font-size: 14px;
    font-weight: bold;
  }