
/* You can add global styles to this file, and also import other style files */
body {
    font-family: Mulish;
  }
  
  .ng-invalid.ng-touched {
    border-color: red;
  }
  ::placeholder {
    color: #b8b8b8;
  }
  .text-color {
    color: #1b154c;
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1b154c);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    padding: 33px 30px;
  }
  .acc-sty {
    background: #e14b57;
    border-radius: 5px 0px 0px 5px;
  }
  .pay-sty {
    background: #e1934b;
    border-radius: 5px 0px 0px 5px;
  }
  .fund-sty {
    background: #15b2ec;
    border-radius: 5px 0px 0px 5px;
  }
  .card-body {
    padding: 15px 20px !important;
  }
  /* transfer and payment screen css  */
  .cancelAndSaveBtn {
    width: 160px;
   height: 28px;
    flex-shrink: 0;
    border: 1px solid #082341;
    color: #082341;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    background: #fff;
  }
  .saveBtn {
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 0px !important;
  }
  
  .error-msg {
    color: red;
    font-weight: bold;
    padding-left: 230px;
    padding-top: 5px;
  }
  .sub-text {
    color: #777;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .bold-text {
    color: #082341;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .card-header {
    background: #ecf3ff !important;
    color: #082341;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 0px !important;
  }
  .savingsAccNumber {
    font-size: 16px;
    color: #082341;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .balance {
    color: #717171;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .transferInputs {
    width: 288px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #082341;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    padding: 5px;
  }
  .accountHeading {
    color: #020202;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
  }
  .accountValues {
    color: #082341;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: start;
    text-transform: capitalize;
  }
  .accountSummary {
    background-color: #ecf3ff;
    height: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #d1cfcf;
    background: var(--Card-Header, #ecf3ff);
  }
  .summaryheading {
    color: var(--Heading-Text, #1b154c);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    padding: 14px;
  }
  @media only screen and (max-width: 575.98px) {
    p.summaryheading {
      font-size: 14px ; /* Adjust the font size as needed */
      /* text-align: center; */
      padding: 8px;
      
    }
  }
  
  .switch {
    color: #082341;
    text-align: right;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 4px;
  }
  .inputBox {
    width: 216px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
  }
  
  .form-check-input,.form-check-label{
    cursor: pointer;
  }
  
  .cancelBtn {
    width: 100px;
    height: 28px;
    flex-shrink: 0;
    border: 1px solid #082341;
    background: #fff;
    color: #082341;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    text-transform: uppercase;
  }
  
  .addBtn {
    background: #082341;
    width: 100px;
    height: 28px;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    border-radius: 0px !important;
  }
  
  /* You can add global styles to this file, and also import other style files */
body {
    font-family: Mulish;
  }
  
  .ng-invalid.ng-touched {
    border-color: red;
  }
  ::placeholder {
    color: #b8b8b8;
  }
  .text-color {
    color: #1b154c;
    color: var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1b154c);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    padding: 33px 30px;
  }
  .acc-sty {
    background: #e14b57;
    border-radius: 5px 0px 0px 5px;
  }
  .pay-sty {
    background: #e1934b;
    border-radius: 5px 0px 0px 5px;
  }
  .fund-sty {
    background: #15b2ec;
    border-radius: 5px 0px 0px 5px;
  }
  .card-body {
    padding: 15px 20px !important;
  }
  /* transfer and payment screen css  */
  .cancelAndSaveBtn {
    width: 160px;
   height: 28px;
    flex-shrink: 0;
    border: 1px solid #082341;
    color: #082341;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    background: #fff;
  }
  .saveBtn {
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 0px !important;
  }
  
  .error-msg {
    color: red;
    font-weight: bold;
    padding-left: 230px;
    padding-top: 5px;
  }
  .sub-text {
    color: #777;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .bold-text {
    color: #082341;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .card-header {
    background: #ecf3ff !important;
    color: #082341;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 12px;
    margin-bottom: 30px;
    border-radius: 0px !important;
  }
  .savingsAccNumber {
    font-size: 16px;
    color: #082341;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .balance {
    color: #717171;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .transferInputs {
    width: 288px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #082341;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    padding: 5px;
  }
  .accountHeading {
    color: #020202;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
  }
  .accountValues {
    color: #082341;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.36px;
    text-align: start;
    text-transform: capitalize;
  }
  .accountSummary {
    background-color: #ecf3ff;
    height: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #d1cfcf;
    background: var(--Card-Header, #ecf3ff);
  }
  .summaryheading {
    color: var(--Heading-Text, #1b154c);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    padding: 14px;
  }
  .switch {
    color: #082341;
    text-align: right;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 4px;
  }
  .inputBox {
    width: 216px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    cursor: pointer;
  }
  
  .form-check-input,.form-check-label{
    cursor: pointer;
  }
  .account-style{
    color: var(--Neutral-Colors-Smokey-White, var(--Neutral-Colors-Smoky-White, #F8F8F9));
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    }
    #card-inside-text{
      font-size: calc(10px + 0.5vw);
      font-weight: bold;
  }
  .cursor{
    cursor: pointer;
  }