.statementTransPeriod,
.downloadDetails {
  margin-left: 200px;
}
.ToDate {
  padding-left: 100px;
}

.DownloadTextSpace {
  margin-top: 5px;
}

.sendToside{
  margin-left: 240px !important;
}

.lblText{
  color: #082341;
}

.lablespace{
  margin-top: 7px;
  padding-left: 25px;
}

.form-check-input:not(:checked) {
  border: 1px solid var(--Neutral-Colors-Light-Gray, #C3C2CC);
  background: var(--Primary-White, #FFF);
  cursor: pointer;
}
.form-check-input:checked {
  border: 5px solid var(--Brand-Primary-Colors-Evoke-Blue-Evoke-Blue, #1B154C);
  background: var(--Primary-White, #FFF);
  cursor: pointer;
}

input[type="date"]:before{
  color: black;
  content:attr(placeholder);
}
.btn-primary,.btn-primary:active{
  color: #FFF;
  background: #082341;
}

