<div class="modal-content eachBlock ">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add Payee</h5>
      <button type="button" class="btn-close cross" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()" id="crossBtn"></button>
    </div>
    <div class="modal-body modal-scroll">
        <section class="container-fluid mt-3 mb-5">
            <form [formGroup]="addPayeeForm" #formElement>
            <div class="row d-flex justify-content-start mt-4 ms-4">
                <div class="col-lg-6">
                    <div class="eachBlock mb-2">
                        <label class="payee-details mt-1">Payee Full Name<span class="text-danger">*</span></label>
                        <input type="text" class="transferInputs" id="fullname" formControlName="fullname" maxlength="15">
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('fullname')?.hasError('required') && addPayeeForm.get('fullname')?.touched) {
                            <p class="error-text"> Please Enter Fullname</p>
                        }
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('fullname')?.hasError('pattern') || addPayeeForm.get('fullname')?.hasError('minlength')) {
                            <p class="error-text">Full Name must be alphabetical and should contain atleast 3 characters</p>
                        }
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="eachBlock mb-2">
                        <label class="payee-details mt-1">Payee Nickname<span class="text-danger">*</span></label>
                        <input type="text" class="transferInputs" id="nickname" formControlName="nickname" maxlength="15">
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('nickname')?.hasError('required') && addPayeeForm.get('nickname')?.touched) {
                            <p class="error-text"> Please Enter Nickname</p>
                        }
                        
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('nickname')?.hasError('pattern') || addPayeeForm.get('nickname')?.hasError('minlength')) {
                            <p class="error-text">Nick Name must be alphabetical and should contain atleast 3 characters</p>
                        }

                    </div>
                </div>

            </div>

            <div class="row d-flex justify-content-start ms-4">
                <div class="col-lg-6">
                    <div class="eachBlock mb-2">
                        <label class="payee-details mt-1">Bank Name<span class="text-danger">*</span></label>
                        <input type="text" class="transferInputs" id="bankName" formControlName="bankName" minlength="3" maxlength="20">
                    </div>
                    <div class="text-danger">
                        @if(addPayeeForm.get('bankName')?.hasError('required') && addPayeeForm.get('bankName')?.touched){
                            <p class="error-text"> Please Enter Bank Name </p>
                        }
                        
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('bankName')?.hasError('pattern') || addPayeeForm.get('bankName')?.hasError('minlength')) {
                            <p class="error-text">Bank Name must be alphabetical and should contain atleast 3 characters</p>
                        }
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="eachBlock mb-2">
                        <label class="payee-details mt-1">IFSC Code<span class="text-danger">*</span></label>
                        <input type="text" class="transferInputs ifscCode" id="ifscCode" formControlName="ifscCode" maxlength="11">
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('ifscCode')?.hasError('required') && addPayeeForm.get('ifscCode')?.touched) {
                            <p class="error-text"> Please Enter IFSC Code</p>
                        }
                        
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('ifscCode')?.hasError('pattern') || addPayeeForm.get('ifscCode')?.hasError('maxlength')) {
                            <p class="error-text"> IFSC Code must be atleast 11 alphanumerical characters</p>
                        }

                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-start ms-4">
                <div class="col-lg-6">
                    <div class="eachBlock mb-2">
                        <label class="payee-details mt-1">Account Number<span class="text-danger">*</span></label>
                        <input type="text" class="transferInputs" id="accountNo" formControlName="accountNo" maxlength="18" (keypress)="onKeyPress($event)">
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('accountNo')?.hasError('required') && addPayeeForm.get('accountNo')?.touched) {
                            <p class="error-text"> Please Enter Account Number</p>
                        }
                        
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('accountNo')?.hasError('pattern') || addPayeeForm.get('accountNo')?.hasError('minlength')) {
                            <p class="error-text"> Account Number must be numerical and atleast 8 digits</p>
                        }
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="eachBlock mb-2">
                        <label class="payee-details mt-1">Re-Enter Account Number<span class="text-danger">*</span></label>
                        <input type="text" class="transferInputs" id="reEnterAccNo" formControlName="reEnteraccountNo" (keypress)="onKeyPress($event)" maxlength="18">
                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.get('reEnteraccountNo')?.hasError('required') && addPayeeForm.get('reEnteraccountNo')?.touched) {
                            <p class="error-text"> Please Re-Enter Account Number</p>
                        }

                    </div>
                    <div class="text-danger">
                        @if (addPayeeForm.hasError('mismatch') && addPayeeForm.get('reEnteraccountNo')?.touched) {
                            <p class="error-text"> Account Number do not match.</p>
                        }
                       
                    </div>
                </div>
            </div>
            <p class="ms-3 Det">Note</p>
            <div class="pt-2 ps-4">
                <ol>
                    <li class="eachNote sub-text p-1">As per the RBI circular dated Oct 14, 2010, transfer of funds through electronic mode will be executed only on the basis of the account number of the beneficiary provided while initiating the transaction, name will not be considered as a criteria for providing credit. Kindly ensure that you enter the correct beneficiary account number.</li>
                    <li class="eachNote sub-text p-1">A maximum of 10 Payees can be added in one day.</li>
                    <li class="eachNote sub-text p-1">Waiting period post Payee addition is 30 minutes.</li>
                    <li class="eachNote sub-text p-1">Ensure that the Payee Account Number entered by you is correct.</li>
                    <li class="eachNote sub-text p-1">ICICI Bank does not take any responsibility and shall not be liable for claims on incorrect details entered.</li>
                </ol>
            </div>
        </form>
        </section>
        <div class="modal-footer">
            <button class="cancelAndSaveBtn ms-3" (click)="onCancel()" id="cancel">cancel</button>
            <button type="submit" class="btn btn-primary cancelAndSaveBtn saveBtn" [disabled]="addPayeeForm.invalid" (click)="submitPayee(addPayeeForm.value)" id="addPayee">Add Payee</button>
        </div>
</div>
</div>

        

